@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');


main {
    background-color: lightgoldenrodyellow;
    padding: 8em;
    margin : 0em;
  }
  
  h1 {
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    font-size: 25px;
  }

  h2 {
      font-family: 'Titillium Web', sans-serif;
      font-size: 19px;
      font-style: bold;
  }