<app-nav></app-nav>
<app-home></app-home>
<app-education></app-education>
<app-experience></app-experience>
<app-contact></app-contact>

<footer>
        <div class="inner">
          @ Daphné Augier 2019
          <button type="button" mdbBtn color="tw" class="waves-light" mdbWavesEffect><i class="fab fa-twitter left"></i>Twitter</button>
          <button type="button" mdbBtn color="li" class="waves-light" mdbWavesEffect><i class="fab fa-linkedin-in left"></i>Linkedin</button>
          <button type="button" mdbBtn color="git" class="waves-light" mdbWavesEffect><i class="fab fa-github left"></i>Github</button>
          <button type="button" mdbBtn  color="slack" class="waves-light" mdbWavesEffect><i class="fab fa-slack left"></i>Slack</button>
        </div>
</footer>