<app-nav></app-nav>
<app-home></app-home>
<app-education></app-education>
<app-experience></app-experience>
<app-projects></app-projects>
<app-contact></app-contact>

<footer>
        <div class="inner">
          &copy; Daphné Augier 2019
          <ul>
          <li><a href="https://github.com/daphneaugier" class="fab fa-github"> </a></li>
          <li><a href="https://www.linkedin.com/in/daphn%C3%A9-augier-2b4b36131/" class="fab fa-linkedin-in"> </a></li>
          <li><a href="https://twitter.com/daphne_aug" class="fab fa-twitter"> </a></li>
          <li><a href="https://www.facebook.com/daphne.augier" class="fab fa-facebook"></a></li>
          </ul>
        </div>
</footer>