footer {
    color : black;
    background-color: white;
    padding: 3em;

    a { 
        color: black;
    }

    ul,li  {
        list-style: none;
        display: inline;
        margin-right: 20px;
    }

    .right {
        float: right;
    }

}