@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Biryani:900&display=swap');

/* 3792 × 2697 */

/*@media (max-width: 3792){
  main {
      width: 400px;
      height:300px;
  }
}

@media (min-width:800px){
  main {
      width: 800px;
      height:600px;
  } 
} 

@media (min-width:1200px){
  main {
      width:1200px;
      height:1000px;
  }
}


@media (min-width:1600px){
  main {
      width:1600px;
      height:1200px;
  }
}*/



main {
  font-family: 'Biryani', sans-serif;

  background-image: url("daphne.jpg");
  background-size: cover;
  padding: 10em;
  margin : 0em;
  font: bolder;
  color: lightgoldenrodyellow;
}

h1 {
  font-family: 'Roboto Mono', monospace, bold;
  font-weight: bolder;
  font-size: 40px;
}